@model ShippingManagmeent.Aspnet_Membership

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Aspnet_Membership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PasswordSalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordSalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordAnswer)
        </dd>

        <dt>
            IsApproved
        </dt>

        <dd>
            @Html.CheckBoxFor(modelItem => Model.IsApproved, new { @disabled = !Model.IsApproved })
        </dd>

        <dt>
            IsLocked
        </dt>

        <dd>
            @Html.CheckBoxFor(modelItem => Model.IsLocked, new { @disabled = !Model.IsLocked })
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new {  id = Model.Aspnet_MembershipId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
